.form-group {
    margin-bottom: 1rem;
  }

.form-group label {
display: block;
text-align: left;
margin-bottom: 0.5rem;
}

.form-group input {
width: 100%;
}

  
.form-control {
width: 300px; 
}

.container form {
    background: none; 
}

.container {
    color: hsl(24.38, 100%, 93.73%); 
}

.logo-image {
    max-width: 100px !important;
    height: 70px !important;
}






