body {
  background-image: url('../src/utils/images/loginpage-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 0; 
}

@media (max-width: 767px) {
  body {
      background-size: cover;
      background-image: url('../src/utils/images/loginpage-mobile.png');
  }
}

.logout-button {
  background-color: transparent !important;
  color: hsl(24.38, 100%, 93.73%) !important;
  transition: background-color 0.3s ease-in-out !important;
}

.logout-button:hover {
  background-color: #0d6efd !important;
}
